* {
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    background-color: hsl(225, 100%, 94%);
}

.main_container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content_container {
    display: flex;
    flex-direction: column;
    margin: 3rem 2rem;
    background-color: white;
    max-width: 400px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 7rem;
    box-shadow: 5px 5px 25px hsl(224, 23%, 55%);
}

.image_container img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit:cover;
}

.bg_container img {
    width: 100vw;
    height: 50%;
    background-size: cover;
    background-position: center;
    position: fixed; /* To remove it from the flow of the html document and make it act as if it isnt there */
    z-index: -1;
}

.product_info {
    margin: 2rem 3rem 3rem 3rem;
}

.description_container h2 {
    font-weight: 900;
    margin-bottom: 1rem;
    color: hsl(223, 47%, 23%);
}

.description_container p {
    font-weight: 500;
    font-size: 14px;
    color: hsl(224, 23%, 55%);
    margin-bottom: 2rem;
}

.price_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 3rem;

}

.annual_plan {
    position: absolute;
    left:70px;
}

.annual_plan h4 {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

.annual_plan p {
    font-weight: 500;
    font-size: 14px;
    color:hsl(224, 23%, 55%);
}

.price_container h5 {
    color:hsl(245, 75%, 52%);
    text-decoration: underline;
    font-weight: 900;
}

.btn_proceed button {
    border: 0;
    outline: 0;
    background-color: hsl(245, 75%, 52%);
    width: 100%;
    color: #fff;
    border-radius: 7px;
    padding: 10px 0;
    margin-bottom: 2rem;
    cursor: pointer;
    box-shadow: 5px 5px 25px hsl(224, 23%, 55%);
}

.btn_cancel button {
    outline: 0;
    border: 0;
    width: 100%;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.btn_cancel button p {
    color: hsl(224, 23%, 55%);
    font-weight: 700;
}

.attribution {
    font-size: 13px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    
}

.price_container h5:hover {
    color: hsl(255, 100%, 66%, 1);
    cursor: pointer;
}

.btn_proceed button:hover {
    background-color: hsl(255, 100%, 66%, 1);
}

.btn_cancel button p:hover {
    font-weight: 900 ;
    color:hsl(223, 47%, 23%);
}

@media only screen and (max-width:550px) {

    .bg_container img {
        content: url(images/pattern-background-mobile.svg);
        height: 29%;
    }

}